automation/booking-workflow.json
{
  "name": "Lean Hippo \u2014 Booking emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "731c59bf-ea96-4d9c-b86f-23c30a08c610",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        320
      ],
      "webhookId": "b02f02fb-e0fb-4db3-9433-e731a575f6c1"
    },
    {
      "parameters": {
        "fromEmail": "Lean Hippo <contact@leanhippo.io>",
        "toEmail": "={{ $('Booking Webhook').item.json.body.email }}",
        "subject": "We\u2019ve received your Lean Hippo Discovery Session request",
        "emailFormat": "html",
        "html": "=<body style=\"margin:0;padding:0;background:#F4F4F2;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F4F2;padding:32px 12px;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#FFFFFF;border-radius:14px;overflow:hidden;font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;box-shadow:0 1px 3px rgba(5,5,5,0.08);\"><tr><td style=\"background:#050505;padding:28px 40px;text-align:center;\"><img src=\"https://leanhippo.io/logos/leanhippo-white.png\" alt=\"Lean Hippo\" width=\"150\" style=\"display:inline-block;max-width:150px;height:auto;\"></td></tr><tr><td style=\"padding:36px 40px 8px;\"><p style=\"margin:0 0 6px;font-size:13px;letter-spacing:.08em;text-transform:uppercase;color:#1F5EFF;\">Request received</p><h1 style=\"margin:0 0 16px;font-size:24px;line-height:30px;color:#1C1F24;\">Thank you, {{ $('Booking Webhook').item.json.body.name }}</h1><p style=\"margin:0 0 14px;font-size:15px;line-height:24px;color:#1C1F24;\">We\u2019ve received your request for a Lean Hippo Discovery Session. Our team will review the details below and get in touch shortly to confirm your time. No payment or commitment is needed at this stage.</p></td></tr><tr><td style=\"padding:4px 40px 0;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F9FC;border:1px solid #E6E8EC;border-radius:10px;padding:8px 18px;\"><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Session(s)</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.sessionsText }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Preferred date</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.date }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Availability</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.availability }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Business</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.business }}</td></tr></table></td></tr><tr><td style=\"padding:18px 40px 4px;\"><p style=\"margin:0 0 4px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#1F5EFF;\">Focus for each session</p></td></tr><tr><td style=\"padding:0 40px 8px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F9FC;border:1px solid #E6E8EC;border-radius:10px;padding:6px 18px;\">{{ $('Booking Webhook').item.json.body.notesHtml }}</table></td></tr><tr><td style=\"padding:14px 40px 36px;\"><p style=\"margin:0;font-size:15px;line-height:24px;color:#1C1F24;\">If anything needs changing, just reply to this email \u2014 it reaches us directly.</p></td></tr><tr><td style=\"padding:28px 40px;border-top:1px solid #E6E8EC;\"><p style=\"margin:0;font-size:12px;line-height:18px;color:#6F7782;\">Lean Hippo &middot; Operational clarity, systems &amp; growth<br><a href=\"mailto:contact@leanhippo.io\" style=\"color:#1F5EFF;text-decoration:none;\">contact@leanhippo.io</a> &middot; <a href=\"https://leanhippo.io\" style=\"color:#1F5EFF;text-decoration:none;\">leanhippo.io</a></p></td></tr></table></td></tr></table></body>",
        "options": {
          "appendAttribution": false,
          "replyTo": "contact@leanhippo.io"
        }
      },
      "id": "0c7bcd3c-ecee-4c15-8c32-cc437ea1fca9",
      "name": "Confirm to client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "Lean Hippo Website <contact@leanhippo.io>",
        "toEmail": "contact@leanhippo.io",
        "subject": "={{ $('Booking Webhook').item.json.body.subject }}",
        "emailFormat": "html",
        "html": "=<body style=\"margin:0;padding:0;background:#F4F4F2;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F4F4F2;padding:32px 12px;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#FFFFFF;border-radius:14px;overflow:hidden;font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;box-shadow:0 1px 3px rgba(5,5,5,0.08);\"><tr><td style=\"background:#050505;padding:28px 40px;text-align:center;\"><img src=\"https://leanhippo.io/logos/leanhippo-white.png\" alt=\"Lean Hippo\" width=\"150\" style=\"display:inline-block;max-width:150px;height:auto;\"></td></tr><tr><td style=\"padding:36px 40px 4px;\"><p style=\"margin:0 0 6px;font-size:13px;letter-spacing:.08em;text-transform:uppercase;color:#1F5EFF;\">New booking</p><h1 style=\"margin:0 0 16px;font-size:22px;line-height:28px;color:#1C1F24;\">Discovery Session request</h1><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #E6E8EC;border-radius:10px;padding:8px 18px;\"><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Name</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.name }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Business</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.business }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Email</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.email }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Phone</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.phone }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Country</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.country }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Session(s)</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.sessionsText }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Preferred date</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.date }}</td></tr><tr><td style=\"padding:10px 0;font-size:13px;color:#6F7782;width:160px;vertical-align:top;\">Availability</td><td style=\"padding:10px 0;font-size:14px;color:#1C1F24;font-weight:600;vertical-align:top;\">{{ $('Booking Webhook').item.json.body.availability }}</td></tr></table></td></tr><tr><td style=\"padding:18px 40px 4px;\"><p style=\"margin:0 0 4px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#1F5EFF;\">Focus for each session</p></td></tr><tr><td style=\"padding:0 40px 8px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F9FC;border:1px solid #E6E8EC;border-radius:10px;padding:6px 18px;\">{{ $('Booking Webhook').item.json.body.notesHtml }}</table></td></tr><tr><td style=\"padding:6px 40px 34px;\"><p style=\"margin:0;font-size:13px;color:#6F7782;\">Reply to this email to respond directly to {{ $('Booking Webhook').item.json.body.name }}.</p></td></tr><tr><td style=\"padding:28px 40px;border-top:1px solid #E6E8EC;\"><p style=\"margin:0;font-size:12px;line-height:18px;color:#6F7782;\">Lean Hippo &middot; Operational clarity, systems &amp; growth<br><a href=\"mailto:contact@leanhippo.io\" style=\"color:#1F5EFF;text-decoration:none;\">contact@leanhippo.io</a> &middot; <a href=\"https://leanhippo.io\" style=\"color:#1F5EFF;text-decoration:none;\">leanhippo.io</a></p></td></tr></table></td></tr></table></body>",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $('Booking Webhook').item.json.body.email }}"
        }
      },
      "id": "ad292dd3-5157-4ab6-aee0-00b3d966bde6",
      "name": "Alert business",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        740,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true }",
        "options": {}
      },
      "id": "036f428c-eb45-453d-9507-34a0e6565ef5",
      "name": "Respond success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        320
      ]
    }
  ],
  "connections": {
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Confirm to client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm to client": {
      "main": [
        [
          {
            "node": "Alert business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert business": {
      "main": [
        [
          {
            "node": "Respond success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}